# Never commit your secret keys to version control. 
# Use the .env file to store your environment variables locally.
# Rename this file to .env and fill in the values for your Flutterwave public key, Supabase URL, and Supabase anon key.

# Flutterwave
VITE_FLUTTERWAVE_PUBLIC_KEY=YOUR_FLUTTERWAVE_PUBLIC_KEY_HERE

# Supabase
VITE_SUPABASE_URL=YOUR_SUPABASE_URL_HERE
VITE_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY_HERE

# Cloudinary
VITE_CLOUDINARY_CLOUD_NAME=YOUR_CLOUDINARY_CLOUD_NAME_HERE
VITE_CLOUDINARY_AVATAR_UPLOAD_PRESET=YOUR_CLOUDINARY_AVATAR_UPLOAD_PRESET_HERE

# Brandfetch
VITE_BRANDFETCH_CLIENT_ID=YOUR_BRANDFETCH_CLIENT_ID_HERE
